.container {
  display: inline-block;
  width: 30%;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.outside{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: url('./colorful-heart.png') no-repeat center;
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}